@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
    --text-color-1:#000;
    --text-color-2:#666;
    --bg-color-1:#fff;
    --bg-color-2:#eee;
}
#new-task
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}


section{
    padding:2rem 9%;
}

section:nth-child(even){
    background: #f5f5f5;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.header{
    /* padding:2rem 9%; */
    height: 10rem;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
}

.header .search-form{
    background:var(--bg-color-2);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 4.5rem;
    width:40rem;
}

.header .search-form input{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: none;
    height:100%;
    width:100%;
    background:none;
    text-transform: none;
    font-size: 1.5rem;
    color:var(--text-color-1);
    padding:1rem;
}

.header .search-form label{
    font-size: 2rem;
    /* margin-right: 1.5rem; */
    color:var(--text-color-1);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--green);
}

/* .header .icons div{
    height:4.5rem;
    width:4.5rem;
    line-height:4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background:var(--bg-color-2);
    color:var(--text-color-1);
    cursor: pointer;
    text-align: center;
} */

/* .header .icons div:hover{
    color:#fff;
    background:var(--green);
} */

#search-btn{
    display:none;
}
.icon{
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 0.5rem;
    justify-content: center;
    color: white;
    align-items: center;
    background-color: var(--green);
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.header .navbar a{
    width: 11rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    /* border: 1px solid var(--green); */
    color: var(--green);
    text-decoration: none;
    padding: 12px 10px;
    border-radius: 1rem;
    border: 1px solid var(--green);
}

.header .navbar a:hover{
    background-color: var(--green);
    color: white;
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 10rem;
}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 100%;
    height: 500px;
    border-radius: 250px  250px 0;
}

.home .content{
    flex:1 1 45rem;
}
.welcome{
    font-size: 5rem;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.home .content h3{
    padding: 0;
    margin: 0;
    font-size: 4.5rem;
    color:var(--black);
    text-shadow: var(--text-shadow);
    text-align: center;
    margin-bottom: 2rem;
}

.home .content p{
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 3;
    /* padding: 1rem 0; */
}

.form-container form{
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
    padding:2rem;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    align-items: center;
}

.form-container form .inputBox{
    flex:1 1 23rem;
}

.form-container form .inputBox span{
    font-size: 1.7rem;
    color:var(--text-color-2);
}

.form-container form .inputBox input{
    height: 20px;
    font-size: 1.5rem;
    color:var(--text-color-1);
    background:var(--bg-color-2);
    border-radius: .5rem;
    margin:.5rem 0;
    text-transform: none;
    width: 90%;
    padding:1rem;
   
}

.form-container form .btn{
    margin-top: 20px;
    height: 44px;
    flex:1 1 23rem;
}


.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}

.services .box-container .box{
    background:#fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding: 2.5rem;
}


.services .box-container .box i{
    color: var(--green);
    font-size: 5rem;
    padding-bottom: .5rem;
}

.services .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding:1rem 0;
}

.services .box-container .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
    
    border-radius: 0 250px  250px;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}

.about .row .content p{
    color: var(--light-color);
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}
.row form{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.icons-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

.icons-container .icons i{
    font-size: 4.5rem;
    color:var(--green);
    padding-bottom: .7rem;
}

.icons-container .icons h3{
    font-size: 4.5rem;
    color:var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p{
    font-size: 1.7rem;
    color:var(--light-color);
}


.doctors .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}

.doctors .box-container .box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}

.doctors .box-container .box:hover  img{
    transform:scale(1.2);
    border-radius: 0 250px 250px ;
}
    

.doctors .box-container .box img{
    height: 20rem;
    width:20rem ;
    border:var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    object-fit: cover;
    /* border-radius: 250px  250px 0; */
}

.doctors .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.doctors .box-container .box .desc{
    color:var(--green);
    font-size: 1.5rem;
}



.book .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
 
.book .row .image{
    flex:1 1 45rem;
}

.book .row .image img{
    width: 100%;
    border-radius: 250px  250px;
}

.book .row form{
    flex:1 1 45rem;
    background: #fff;
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.book .row form h3{
    color:var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.book .row form .box{
    width: 100%;
    margin:.7rem 0;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}

.book form textarea{
    width: 100%;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--text-color-1);
    margin:.7rem 0;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    text-transform: none;
    border-radius: .5rem;
	border:var(--border);
}

.book form textarea{
    height: 20rem;
    resize:initial;
}

.book .row form .btn{
    padding:1rem 4rem;
}

.to-do .box-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    
}

.container {
	

  flex:1 1 45rem;
    background: #fff;
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.to-do .form-container .image{
    flex:1 1 45rem;
}

.to-do .form-container .image img{  
    width: 110%;   
}

.to-do .form-container .container .p label input{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem; 
}

ul {
    margin: 0;
    padding: 2rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem; 
  }
  li * {
    float: left;
  }
  li, h3 {
    clear:both;
    list-style:none;
  }
  input, button {
    outline: none;
  }
  button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  button:hover {
    color: var(--green)
  }
  /* Heading */
  h3,
  label[for='new-task'] {
       
    font-weight: 700;
    font-size: 15px;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
  }
  input[type="text"] {
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;   
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    
  }
  input[type="text"]:focus {
    color: #333;
  }
  
  /* New Task */
  label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
  }
  input #new-task {
    float:left;
    width: 318px;
  }
  p > button:hover {
    
    color: #0FC57C;
  }
  
  /* Task list */
  li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }
  li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }
  li > button{  
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .4rem;}

  li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }
  li >  input[type="text"] {
    width: 226px;
  }
  li > .delete:hover {
    color: var(--green);
  }
  
  /* Completed */
  #completed-tasks label {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task */
  ul li input[type=text] {
    display:none;
  }
  
  ul li.editMode input[type=text] {
    display:block;
  }
  
  ul li.editMode label {
    display:none;
  }
  

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}

.blogs .box-container .box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}

.blogs .box-container .box .image{
    height: 20rem;
    overflow:hidden;
    border-radius: .5rem;
}

.blogs .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box:hover .image img{
    transform:scale(1.2);
}

.blogs .box-container .box .content{
    padding-top: 1rem;
}

.blogs .box-container .box .content .icon{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs .box-container .box .content .icon a{
    font-size: 1.4rem;
    color: var(--light-color);
}

.blogs .box-container .box .content .icon a:hover{
    color:var(--green);
}

.blogs .box-container .box .content .icon a i{
    padding-right: .5rem;
    color: var(--green);
}

.blogs .box-container .box .content h3{
    color:var(--black);
    font-size: 3rem;
}

.blogs .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding:1rem 0;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    text-align: left;
}


.footer-content h3{
    border-bottom: 2px solid #333;
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--green);
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color:var(--green);
}









/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    .header{
        padding: 2rem;
    }
    
    section{
        padding:2rem;
    }
    
}

@media (max-width:1600px){
    #menu-btn{
        display: initial;
    }

    .header .navbar{
        width: 50%;
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        /* width: 30rem; */
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }
    .icon{
        height: 39.95px;
    }
        .header .navbar.active{
            transform: scale(1);
            opacity: 1;
            transition: .2s ease-out;
        }

    .header .navbar a{
        width: 135.25px;
        text-align: center;
        font-size: 2rem;
        display: block;
        margin:1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
    .home .image img{
        width: 100%;
        height: 200px;
        border-radius: 250px  250px 0;
    }
}